/* ----------------------------- */
/* Layout                        */
/* ----------------------------- */

.numbered-title {
  grid-area: title;
  @media (min-width: 35em) {
    justify-self: start;
    margin-top: 2.5rem;
  }
}

.grid-container {
  display: grid;
  text-align: center;
  place-items: center;
  padding-inline: 1rem;
  padding-bottom: 4rem;

  & > * {
    max-width: 50ch;
  }

  @media (min-width: 45em) {
    text-align: left;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(1rem, 1fr);
    &--home > *:first-child {
      grid-column: 2;
    }

    &--home > *:last-child {
      grid-column: 3;
    }

    &--home {
      padding-bottom: max(6rem, 20vh);
      align-items: end;
    }
  }
}

.grid-container--destination {
  --flow-space: 2rem;
  grid-template-areas:
      'title'
      'image'
      'tabs'
      'content';

  & > img {
    grid-area: image;
    max-width: 60%;
    @media (min-width: 45em) {
      max-width: 90%;
    }
  }

  & > .tab-list {
    grid-area: tabs;
  }

  & > .destination-info {
    grid-area: content;
  }

  @media (min-width: 45em) {
    justify-items: start;
    align-content: start;
    grid-template-areas:
      '. title title .'
      '. image tabs .'
      '. image content .';
  }
}

.destination-meta {
  flex-direction: column;
  border-top: 1px solid hsl( var(--clr-white) / .1);
  padding-top: 2.5rem;
  margin-top: 2.5rem;
  & p {
    font-size: 1.75rem;
  }
  @media (min-width: 35em) {
    flex-direction: row;
    justify-content: space-evenly;
  }
  @media (min-width: 45em) {
    --gap: 6rem;
    justify-content: start;
  }
}