/* ----------------------------- */
/* Layout                        */
/* ----------------------------- */

.numbered-title {
  grid-area: title;
  @media (min-width: 35em) {
    justify-self: start;
    margin-top: 2.5rem;
  }
}

.grid-container {
  display: grid;
  text-align: center;
  place-items: center;
  padding-inline: 1rem;
  padding-bottom: 4rem;

  & p:not([class]) {
    max-width: 50ch;
  }

  @media (min-width: 45em) {
    text-align: left;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(1rem, 1fr);
    &--home > *:first-child {
      grid-column: 2;
    }

    &--home > *:last-child {
      grid-column: 3;
    }

    &--home {
      padding-bottom: max(6rem, 20vh);
      align-items: end;
    }
  }
}

/* destination layout */

.grid-container--destination {
  --flow-space: 2rem;
  grid-template-areas:
      'title'
      'image'
      'tabs'
      'content';

  & > picture {
    grid-area: image;
    max-width: 60%;
    align-self: start;
    @media (min-width: 45em) {
      max-width: 90%;
    }
  }

  & > .tab-list {
    grid-area: tabs;
  }

  & > .destination-info {
    grid-area: content;
  }

  @media (min-width: 45em) {
    justify-items: start;
    align-content: start;
    grid-template-areas:
      '. title title .'
      '. image tabs .'
      '. image content .';
  }
}

/* crew layout */

.grid-container--crew {
  --flow-space: 2rem;
  grid-template-areas:
      'title'
      'image'
      'dots'
      'article';

  & > picture {
    grid-area: image;
    max-width: 60%;
    border-bottom: 1px solid hsl( var(--clr-white) / .1);
    @media (min-width: 45em) {
      grid-column: span 2;
      align-self: end;
      max-width: 90%;
    }
  }

  & > .dot-indicators {
    grid-area: dots;
    @media (min-width: 45em) {
      justify-self: start;
    }
  }

  & > .crew-details {
    grid-area: article;
    & h2 {
      color: hsl( var(--clr-white) / .5 );
    }
  }

  @media (min-width: 35em) {
    padding-bottom: 0;
    grid-template-rows: 1fr 2fr 1fr 4fr;
    grid-template-areas:
      '. title title .'
      '. article article .'
      '. dots dots .'
      '. image image .';
  }

  @media (min-width: 45em) {
    justify-items: start;
    grid-template-columns: minmax(1rem, 1fr) minmax(0, 37rem) minmax(0, 23rem) minmax(1rem, 1fr);
    grid-template-rows: 20% 54% 26%;
    grid-template-areas:
      '. title title .'
      '. article image .'
      '. dots image .';
  }
}

.destination-meta {
  flex-direction: column;
  border-top: 1px solid hsl( var(--clr-white) / .1);
  padding-top: 2.5rem;
  margin-top: 2.5rem;
  & p {
    font-size: 1.75rem;
  }
  @media (min-width: 35em) {
    flex-direction: row;
    justify-content: space-evenly;
  }
  @media (min-width: 45em) {
    --gap: min(6vw, 6rem);
    justify-content: start;
  }
}

/* technology layout */

.grid-container--technology {
  --flow-space: 2rem;
  grid-template-areas:
      'title'
      'image'
      'numbers'
      'article';

  & > picture {
    grid-area: image;
    max-width: 100%;
    border-bottom: 1px solid hsl( var(--clr-white) / .1);
    @media (min-width: 45em) {
      grid-column: span 3;
      //align-self: end;
      max-width: 100%;
    }
  }

  & > .number-indicators {
    grid-area: numbers;
    @media (min-width: 45em) {
      flex-direction: column;
      //justify-self: start;
    }
  }

  & > .technology-details {
    grid-area: article;
  }

  @media (min-width: 35em) {
    padding-bottom: 0;
    //grid-template-rows: 1fr 2fr 1fr 4fr;
    grid-template-areas:
      '. title title .'
      '. image image .'
      '. numbers numbers .'
      '. article article .';
  }

  @media (min-width: 45em) {
    justify-items: start;
    grid-template-columns: minmax(1rem, 1fr) minmax(0, 5rem) minmax(0, 32rem) minmax(0, 20rem) minmax(1rem, 1fr);
    //grid-template-rows: 20% 54% 26%;
    grid-template-areas:
      '. title title title .'
      '. numbers article image image';
  }
}